<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772523055550-58e4qi6jmmmqbc28hkvgbevtv72oisv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772523055550-58e4qi6jmmmqbc28hkvgbevtv72oisv8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQwNx-NvDtNH0ogJ_qvfoz19mE87WCxg</string>
	<key>GCM_SENDER_ID</key>
	<string>772523055550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naoya.bakibaki</string>
	<key>PROJECT_ID</key>
	<string>bakibaki-68b10</string>
	<key>STORAGE_BUCKET</key>
	<string>bakibaki-68b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772523055550:ios:e55264e2c558db8f</string>
	<key>DATABASE_URL</key>
	<string>https://bakibaki-68b10.firebaseio.com</string>
</dict>
</plist>